.card{
    width: 300px;
    margin:0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
   margin-top: 5px;
   margin-bottom: 5px;
}

.card-img-top{
    height: 200px;
    width: 290px;
    object-fit: contain;
}

.card-title{
    font-size: 30px;
    color: #f377a4;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #f377a4 !important ;
}

.card-text{
    font-size: 20px;
    text-align: center;
}
.card-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btn-card-mile{
    background-color: #f377a4;
    color: white;
}
.btn-card-mile:hover{
    border: 1px solid #f377a4;
}