.principal-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
body {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
  -webkit-text-stroke-width: 0.5px;
   -webkit-text-stroke-color: black;
   background-color: #f0e4ee;
}
